IS2103/CaRMSManagementSystem/HolidayReservationClient/xml-resources/web-service-references/PartnerWebService/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveCarCategoryByCarCategoryId">
<part name="parameters" element="tns:retrieveCarCategoryByCarCategoryId"/>
</message>
<message name="retrieveCarCategoryByCarCategoryIdResponse">
<part name="parameters" element="tns:retrieveCarCategoryByCarCategoryIdResponse"/>
</message>
<message name="CarCategoryNotFoundException">
<part name="fault" element="tns:CarCategoryNotFoundException"/>
</message>
<message name="retrieveAllOutlets">
<part name="parameters" element="tns:retrieveAllOutlets"/>
</message>
<message name="retrieveAllOutletsResponse">
<part name="parameters" element="tns:retrieveAllOutletsResponse"/>
</message>
<message name="retrieveAllCarModels">
<part name="parameters" element="tns:retrieveAllCarModels"/>
</message>
<message name="retrieveAllCarModelsResponse">
<part name="parameters" element="tns:retrieveAllCarModelsResponse"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginException">
<part name="fault" element="tns:InvalidLoginException"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="searchCarByModel">
<part name="parameters" element="tns:searchCarByModel"/>
</message>
<message name="searchCarByModelResponse">
<part name="parameters" element="tns:searchCarByModelResponse"/>
</message>
<message name="NoAvailableRentalRateException">
<part name="fault" element="tns:NoAvailableRentalRateException"/>
</message>
<message name="OutletNotFoundException">
<part name="fault" element="tns:OutletNotFoundException"/>
</message>
<message name="CarModelNotFoundException">
<part name="fault" element="tns:CarModelNotFoundException"/>
</message>
<message name="searchCarByCategory">
<part name="parameters" element="tns:searchCarByCategory"/>
</message>
<message name="searchCarByCategoryResponse">
<part name="parameters" element="tns:searchCarByCategoryResponse"/>
</message>
<message name="retrieveOutletById">
<part name="parameters" element="tns:retrieveOutletById"/>
</message>
<message name="retrieveOutletByIdResponse">
<part name="parameters" element="tns:retrieveOutletByIdResponse"/>
</message>
<message name="calculateRentalFee">
<part name="parameters" element="tns:calculateRentalFee"/>
</message>
<message name="calculateRentalFeeResponse">
<part name="parameters" element="tns:calculateRentalFeeResponse"/>
</message>
<message name="retrieveAllCarCategory">
<part name="parameters" element="tns:retrieveAllCarCategory"/>
</message>
<message name="retrieveAllCarCategoryResponse">
<part name="parameters" element="tns:retrieveAllCarCategoryResponse"/>
</message>
<message name="retrieveCarModelById">
<part name="parameters" element="tns:retrieveCarModelById"/>
</message>
<message name="retrieveCarModelByIdResponse">
<part name="parameters" element="tns:retrieveCarModelByIdResponse"/>
</message>
<portType name="PartnerWebService">
<operation name="retrieveCarCategoryByCarCategoryId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCarCategoryByCarCategoryIdRequest" message="tns:retrieveCarCategoryByCarCategoryId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCarCategoryByCarCategoryIdResponse" message="tns:retrieveCarCategoryByCarCategoryIdResponse"/>
<fault message="tns:CarCategoryNotFoundException" name="CarCategoryNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCarCategoryByCarCategoryId/Fault/CarCategoryNotFoundException"/>
</operation>
<operation name="retrieveAllOutlets">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllOutletsRequest" message="tns:retrieveAllOutlets"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllOutletsResponse" message="tns:retrieveAllOutletsResponse"/>
</operation>
<operation name="retrieveAllCarModels">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllCarModelsRequest" message="tns:retrieveAllCarModels"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllCarModelsResponse" message="tns:retrieveAllCarModelsResponse"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogin/Fault/InvalidLoginException"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogin/Fault/PartnerNotFoundException"/>
</operation>
<operation name="searchCarByModel">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/searchCarByModelRequest" message="tns:searchCarByModel"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/searchCarByModelResponse" message="tns:searchCarByModelResponse"/>
<fault message="tns:NoAvailableRentalRateException" name="NoAvailableRentalRateException" wsam:Action="http://ws.session.ejb/PartnerWebService/searchCarByModel/Fault/NoAvailableRentalRateException"/>
<fault message="tns:CarCategoryNotFoundException" name="CarCategoryNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/searchCarByModel/Fault/CarCategoryNotFoundException"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/searchCarByModel/Fault/OutletNotFoundException"/>
<fault message="tns:CarModelNotFoundException" name="CarModelNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/searchCarByModel/Fault/CarModelNotFoundException"/>
</operation>
<operation name="searchCarByCategory">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/searchCarByCategoryRequest" message="tns:searchCarByCategory"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/searchCarByCategoryResponse" message="tns:searchCarByCategoryResponse"/>
<fault message="tns:NoAvailableRentalRateException" name="NoAvailableRentalRateException" wsam:Action="http://ws.session.ejb/PartnerWebService/searchCarByCategory/Fault/NoAvailableRentalRateException"/>
<fault message="tns:CarCategoryNotFoundException" name="CarCategoryNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/searchCarByCategory/Fault/CarCategoryNotFoundException"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/searchCarByCategory/Fault/OutletNotFoundException"/>
</operation>
<operation name="retrieveOutletById">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveOutletByIdRequest" message="tns:retrieveOutletById"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveOutletByIdResponse" message="tns:retrieveOutletByIdResponse"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveOutletById/Fault/OutletNotFoundException"/>
</operation>
<operation name="calculateRentalFee">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/calculateRentalFeeRequest" message="tns:calculateRentalFee"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/calculateRentalFeeResponse" message="tns:calculateRentalFeeResponse"/>
<fault message="tns:CarCategoryNotFoundException" name="CarCategoryNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/calculateRentalFee/Fault/CarCategoryNotFoundException"/>
<fault message="tns:NoAvailableRentalRateException" name="NoAvailableRentalRateException" wsam:Action="http://ws.session.ejb/PartnerWebService/calculateRentalFee/Fault/NoAvailableRentalRateException"/>
</operation>
<operation name="retrieveAllCarCategory">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllCarCategoryRequest" message="tns:retrieveAllCarCategory"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllCarCategoryResponse" message="tns:retrieveAllCarCategoryResponse"/>
</operation>
<operation name="retrieveCarModelById">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCarModelByIdRequest" message="tns:retrieveCarModelById"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCarModelByIdResponse" message="tns:retrieveCarModelByIdResponse"/>
<fault message="tns:CarModelNotFoundException" name="CarModelNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveCarModelById/Fault/CarModelNotFoundException"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveCarCategoryByCarCategoryId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarCategoryNotFoundException">
<soap:fault name="CarCategoryNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllOutlets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllCarModels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchCarByModel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoAvailableRentalRateException">
<soap:fault name="NoAvailableRentalRateException" use="literal"/>
</fault>
<fault name="CarCategoryNotFoundException">
<soap:fault name="CarCategoryNotFoundException" use="literal"/>
</fault>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
<fault name="CarModelNotFoundException">
<soap:fault name="CarModelNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchCarByCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoAvailableRentalRateException">
<soap:fault name="NoAvailableRentalRateException" use="literal"/>
</fault>
<fault name="CarCategoryNotFoundException">
<soap:fault name="CarCategoryNotFoundException" use="literal"/>
</fault>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveOutletById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="calculateRentalFee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarCategoryNotFoundException">
<soap:fault name="CarCategoryNotFoundException" use="literal"/>
</fault>
<fault name="NoAvailableRentalRateException">
<soap:fault name="NoAvailableRentalRateException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllCarCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveCarModelById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarModelNotFoundException">
<soap:fault name="CarModelNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>