IS2103/CaRMSManagementSystem/HolidayReservationClient/xml-resources/web-service-references/PartnerWebService/wsdl/localhost_8080/PartnerWebService/PartnerWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="CarCategoryNotFoundException" type="tns:CarCategoryNotFoundException"/>

<xs:element name="CarModelNotFoundException" type="tns:CarModelNotFoundException"/>

<xs:element name="InvalidLoginException" type="tns:InvalidLoginException"/>

<xs:element name="NoAvailableRentalRateException" type="tns:NoAvailableRentalRateException"/>

<xs:element name="OutletNotFoundException" type="tns:OutletNotFoundException"/>

<xs:element name="PartnerNotFoundException" type="tns:PartnerNotFoundException"/>

<xs:element name="calculateRentalFee" type="tns:calculateRentalFee"/>

<xs:element name="calculateRentalFeeResponse" type="tns:calculateRentalFeeResponse"/>

<xs:element name="partnerLogin" type="tns:partnerLogin"/>

<xs:element name="partnerLoginResponse" type="tns:partnerLoginResponse"/>

<xs:element name="retrieveAllCarCategory" type="tns:retrieveAllCarCategory"/>

<xs:element name="retrieveAllCarCategoryResponse" type="tns:retrieveAllCarCategoryResponse"/>

<xs:element name="retrieveAllCarModels" type="tns:retrieveAllCarModels"/>

<xs:element name="retrieveAllCarModelsResponse" type="tns:retrieveAllCarModelsResponse"/>

<xs:element name="retrieveAllOutlets" type="tns:retrieveAllOutlets"/>

<xs:element name="retrieveAllOutletsResponse" type="tns:retrieveAllOutletsResponse"/>

<xs:element name="retrieveCarCategoryByCarCategoryId" type="tns:retrieveCarCategoryByCarCategoryId"/>

<xs:element name="retrieveCarCategoryByCarCategoryIdResponse" type="tns:retrieveCarCategoryByCarCategoryIdResponse"/>

<xs:element name="retrieveCarModelById" type="tns:retrieveCarModelById"/>

<xs:element name="retrieveCarModelByIdResponse" type="tns:retrieveCarModelByIdResponse"/>

<xs:element name="retrieveOutletById" type="tns:retrieveOutletById"/>

<xs:element name="retrieveOutletByIdResponse" type="tns:retrieveOutletByIdResponse"/>

<xs:element name="searchCarByCategory" type="tns:searchCarByCategory"/>

<xs:element name="searchCarByCategoryResponse" type="tns:searchCarByCategoryResponse"/>

<xs:element name="searchCarByModel" type="tns:searchCarByModel"/>

<xs:element name="searchCarByModelResponse" type="tns:searchCarByModelResponse"/>

<xs:complexType name="retrieveAllCarModels">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllCarModelsResponse">
<xs:sequence>
<xs:element name="return" type="tns:carModel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="carModel">
<xs:sequence>
<xs:element name="belongsCategory" type="tns:carCategory" minOccurs="0"/>
<xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="listOfCars" type="tns:car" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="make" type="xs:string" minOccurs="0"/>
<xs:element name="model" type="xs:string" minOccurs="0"/>
<xs:element name="modelId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="carCategory">
<xs:sequence>
<xs:element name="carCategoryName" type="xs:string" minOccurs="0"/>
<xs:element name="categoryId" type="xs:long" minOccurs="0"/>
<xs:element name="modelList" type="tns:carModel" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="rateList" type="tns:rentalRate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rentalRate">
<xs:sequence>
<xs:element name="carCategory" type="tns:carCategory" minOccurs="0"/>
<xs:element name="dailyRate" type="xs:decimal" minOccurs="0"/>
<xs:element name="isApplied" type="xs:boolean"/>
<xs:element name="isDisabled" type="xs:boolean"/>
<xs:element name="rateEndDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="rateStartDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="rateType" type="tns:rentalRateType" minOccurs="0"/>
<xs:element name="rentalName" type="xs:string" minOccurs="0"/>
<xs:element name="rentalRateId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="car">
<xs:sequence>
<xs:element name="carId" type="xs:long" minOccurs="0"/>
<xs:element name="carLicensePlateNum" type="xs:string" minOccurs="0"/>
<xs:element name="carModel" type="tns:carModel" minOccurs="0"/>
<xs:element name="carStatus" type="tns:carStatusEnum" minOccurs="0"/>
<xs:element name="colour" type="xs:string" minOccurs="0"/>
<xs:element name="currentReservation" type="tns:reservation" minOccurs="0"/>
<xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="latestOutlet" type="tns:outlet" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="car" type="tns:car" minOccurs="0"/>
<xs:element name="creditCardNumber" type="xs:string" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="isCancelled" type="xs:boolean" minOccurs="0"/>
<xs:element name="isCompleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="isPicked" type="xs:boolean" minOccurs="0"/>
<xs:element name="paid" type="xs:boolean" minOccurs="0"/>
<xs:element name="rentalReservationId" type="xs:long" minOccurs="0"/>
<xs:element name="reservationDispatchDriver" type="tns:transitDriverDispatch" minOccurs="0"/>
<xs:element name="reservationEndDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="reservationPartner" type="tns:partner" minOccurs="0"/>
<xs:element name="reservationPickUpOutlet" type="tns:outlet" minOccurs="0"/>
<xs:element name="reservationPrice" type="xs:decimal" minOccurs="0"/>
<xs:element name="reservationReturnOutlet" type="tns:outlet" minOccurs="0"/>
<xs:element name="reservationStartDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="reservationStatus" type="tns:reservationStatusEnum" minOccurs="0"/>
<xs:element name="reservedCarCategory" type="tns:carCategory" minOccurs="0"/>
<xs:element name="reservedCarModel" type="tns:carModel" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="customerEmail" type="xs:string" minOccurs="0"/>
<xs:element name="customerFirstName" type="xs:string" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="customerLastName" type="xs:string" minOccurs="0"/>
<xs:element name="customerPassword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transitDriverDispatch">
<xs:sequence>
<xs:element name="destinationOutlet" type="tns:outlet" minOccurs="0"/>
<xs:element name="dispatchDriver" type="tns:employee" minOccurs="0"/>
<xs:element name="isCompleted" type="xs:boolean"/>
<xs:element name="rentalReservation" type="tns:reservation" minOccurs="0"/>
<xs:element name="transitDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="transitDriverDispatchId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="outlet">
<xs:sequence>
<xs:element name="carsList" type="tns:car" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="employeesList" type="tns:employee" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="outletAddress" type="xs:string" minOccurs="0"/>
<xs:element name="outletClosingTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="outletId" type="xs:long" minOccurs="0"/>
<xs:element name="outletName" type="xs:string" minOccurs="0"/>
<xs:element name="outletOpeningTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="transitDriverDispatchList" type="tns:transitDriverDispatch" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employee">
<xs:sequence>
<xs:element name="employeeFirstName" type="xs:string" minOccurs="0"/>
<xs:element name="employeeId" type="xs:long" minOccurs="0"/>
<xs:element name="employeeLastName" type="xs:string" minOccurs="0"/>
<xs:element name="employeePassword" type="xs:string" minOccurs="0"/>
<xs:element name="employeeRole" type="tns:employeeRoleEnum" minOccurs="0"/>
<xs:element name="employeeUserName" type="xs:string" minOccurs="0"/>
<xs:element name="outlet" type="tns:outlet" minOccurs="0"/>
<xs:element name="transitDriverDispatchRecord" type="tns:transitDriverDispatch" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partner">
<xs:sequence>
<xs:element name="partnerCustomerList" type="tns:customer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="partnerName" type="xs:string" minOccurs="0"/>
<xs:element name="partnerPassword" type="xs:string" minOccurs="0"/>
<xs:element name="reservationList" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveCarModelById">
<xs:sequence>
<xs:element name="modelId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveCarModelByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:carModel" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CarModelNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCarByCategory">
<xs:sequence>
<xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:long" minOccurs="0"/>
<xs:element name="arg3" type="xs:long" minOccurs="0"/>
<xs:element name="arg4" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCarByCategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoAvailableRentalRateException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CarCategoryNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="OutletNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCarByModel">
<xs:sequence>
<xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:long" minOccurs="0"/>
<xs:element name="arg3" type="xs:long" minOccurs="0"/>
<xs:element name="arg4" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCarByModelResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveOutletById">
<xs:sequence>
<xs:element name="outletId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveOutletByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:outlet" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllCarCategory">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllCarCategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:carCategory" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveCarCategoryByCarCategoryId">
<xs:sequence>
<xs:element name="carCategoryId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveCarCategoryByCarCategoryIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:carCategory" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllOutlets">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllOutletsResponse">
<xs:sequence>
<xs:element name="return" type="tns:outlet" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateRentalFee">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateRentalFeeResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLogin">
<xs:sequence>
<xs:element name="partnerName" type="xs:string" minOccurs="0"/>
<xs:element name="partnerPassword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PartnerNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="rentalRateType">
<xs:restriction base="xs:string">
<xs:enumeration value="PEAK"/>
<xs:enumeration value="DEFAULT"/>
<xs:enumeration value="PROMOTION"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="carStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="AVAILABLE"/>
<xs:enumeration value="IN_RENT"/>
<xs:enumeration value="REPAIR_SERVICE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="employeeRoleEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="ADMINISTRATOR"/>
<xs:enumeration value="EMPLOYEE"/>
<xs:enumeration value="SALES_MANAGER"/>
<xs:enumeration value="OPERATIONS_MANAGER"/>
<xs:enumeration value="CUSTOMER_SERVICE_EXCUTIVE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="reservationStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="CANCELLED"/>
<xs:enumeration value="PAID"/>
<xs:enumeration value="UPCOMING"/>
<xs:enumeration value="ONGOING"/>
<xs:enumeration value="COMPLETED"/>
<xs:enumeration value="NOT_PICKED"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>